section#comic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section#comic {
    label {
        margin: 0 auto;
    }
    input {
        margin: 0 auto;
        width: 400px;
    }
    button {
        margin: 0 auto;
        width: 100px;
        border-radius: 50%;
    }
}


#comic-art {
    color: black;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: max-content;
}

#comic-art .date{
    font-size: 20px;
}